* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    transition: 0.3s all ease-in-out;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.container {
    max-width: 600px; /* Ajusta el ancho máximo según tu diseño */
    margin: 20px;
}

.shadow-wrap {
    border-radius: 5px;
    padding: 25px;
    background-color: #F0F2FB;
    margin-bottom: 20px;
}

.form-wrap {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.btn-reserve {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-reserve:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para el enlace "Mis Reservas" */
.reservations-link {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

/* Estilo para el enlace "Logout" */
.logout-link {
    display: block;
    margin-top: 10px;
    color: #dc3545;
    font-size: 16px;
    font-weight: bold;
}
